# Ignore jupyter notebook checkpoints
.ipynb_checkpoints
# venv
*venv_inflation/
# Ignore IDE
.vscode/
# Ignore all daily data on csv files
data/csv/*
data/parquet/*
data/analytics/*

# Ignore file extensions
*.db
*.csv
*.parquet

# Pycache
*_pycache__
